@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .mob-icon-list {
    gap: 56px;
  }

  .mob-address-link-tel {
    font-size: 36px;
  }
}

/* ! --------------- TABLET -------------------- */

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }

  .mob-menu-open {
    display: none;
  }

  /* .header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  } */

  .header .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-naviganion {
    display: flex;
    align-items: center;
    /* margin-right: 121px; */
  }

  .header-logo {
    /* margin-right: 120px; */
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    color: var(--head-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.current {
    position: relative;
  }

  .menu-link.current::after {
    content: "";
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    width: 100%;
  }

  .menu-link:hover {
    color: #404bbf;
  }
  .menu-link:focus {
    color: #404bbf;
  }

  .address {
    display: block;
    font-style: normal;
    /* padding: 24px 0; */
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .hero {
    max-width: 768px;
  }

  .hero-head {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  .container {
    max-width: 768px;
  }

  .new-list {
    gap: 72px 24px;
  }

  .new-item {
    width: calc((100% - 24px) / 2);
  }

  .new-item .head {
    text-align: start;
  }

  .team-list {
    gap: 64px 24px;
    width: calc((100 - 24px) / 2);
  }

  .customers .container {
    max-width: 584px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 24px;
  }

  .customers-item {
    width: calc((100% - 24px * 2) / 3);
    height: 88px;
  }

  .footer-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 584px;
    column-gap: 24px;
  }

  .container-footer-logo {
    align-items: start;
  }

  .container-footer-icon {
    align-items: start;
    /* margin: 0; */
  }

  .container-footer-sub {
    align-items: start;
  }

  .sub-form {
    flex-direction: row;
    gap: 24px;
  }

  .sub-lable {
    flex-basis: auto;
  }

  .sub-email {
    margin: 0 auto;
    width: 264px;
  }
}

/* ! ------------ DESKTOP -------------------- */

@media screen and (min-width: 1158px) {
  .container,
  .customers .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .mob-menu {
    display: none;
  }

  .mob-menu-open {
    display: none;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .header-naviganion {
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    margin-right: 76px;
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    color: var(--head-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.current {
    position: relative;
  }

  .menu-link.current::after {
    content: "";
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    width: 100%;
  }

  .menu-link:hover {
    color: #404bbf;
  }
  .menu-link:focus {
    color: #404bbf;
  }

  .address {
    font-style: normal;
    padding: 24px 0;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-head {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px;
  }

  .container {
    max-width: 1158px;
  }

  .new {
    padding: 120px 0;
  }

  .container-new-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .new-list-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 224px;
    max-width: 64px;
  }

  .new-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .new-item .head {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .doing {
    padding: 0 0 120px 0;
    display: flex;
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  .doing-head {
    color: var(--head-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    margin-bottom: 72px;
  }

  .team {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 24px;
  }

  .customers {
    padding: 120px 0;
  }

  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  .footer {
    padding: 100px 0;
    /* align-items: start;
    display: block; */
  }
  .footer-main-container {
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
  }

  .container-footer-logo {
    display: block;
    margin-right: 120px;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .footer-text {
    margin: 0 auto;
    width: 264px;
  }

  .container-footer-icon {
    align-items: start;
    display: block;
    margin-right: 80px;
    /* margin: 0 auto; */
  }

  /* .container-footer-sub {
    display: flex;
    align-items: start;
    margin-left: 80px;
  } */

  .sub-form {
    flex-direction: row;
    gap: 24px;
  }

  .sub-email {
    margin: 0 auto;
    width: 264px;
  }

  .modal-body {
    width: 408px;
  }
}
